@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Quicksand:wght@600&family=Roboto:wght@500&display=swap');

body {
    margin: 0;
    padding: 0;
}

.post-header {
    background-color: #125757;
    height: 50px;
    position: relative;
}

.ph-label {
    position: absolute;
    left: 260px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    top: 15px;
    font-family: Quicksand;
}

.phone-no {
    position: absolute;
    left: 310px;
    color: aquamarine;
    font-size: 15px;
    font-weight: 200;
    top: 15px;
    font-family: Quicksand;
}

.email-section {
    position: absolute;

}

.email-label {
    position: absolute;
    left: 510px;
    color: white;
    font-size: 15px;
    font-weight: 200;
    top: 15px;
    font-family: Quicksand;
}

.email {
    position: absolute;
    left: 555px;
    color: aquamarine;
    font-size: 15px;
    font-weight: 200;
    top: 15px;
    font-family: Quicksand;

}

.social-icons {
    position: absolute;
    right: 220px;
    top: 18px;
}

.fa-brands {
    padding-right: 25px;
    color: aquamarine;
    cursor: pointer;

}

.fa-brands:hover {
    color: aqua;

}

.header {
    position: relative;
    height: 150px;
    background: white;

}

.logo {
    position: absolute;
    left: 157px;
    font-family: Quicksand;
    letter-spacing: 3px;
    top: 10px;

}

.menu-items {
    position: absolute;
    right: 320px;
    top: 20px;
}

.list-items {
    display: inline-block;
    padding-right: 40px;

}

.items {
    font-family: Quicksand;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 1px;
    color: black;

}

.logo::after {
    content: ".";
    color: aqua;
}

.active {
    color: aquamarine;
}

.item:hover {
    color: aquamarine;
}

.banner {
    background-image: url("../image/lap3.jpeg");
    height: 800px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: aqua;
    opacity: .8;
    position: relative;
}

.banner h1 {
    position: relative;
    top: 220px;
    left: 32%;
    text-transform: capitalize;
    color: white;
    font-size: 50px;


}

.banner p {
    position: absolute;
    top: 278px;
    left: 43%;
    font-size: 20px;
    color: aliceblue;
    cursor: pointer;
}

.banner p::after {
    content: "robinkishore";
    color: aqua;
    font-size: 20px;
    letter-spacing: 1;
}

.banner a {
    position: absolute;
    text-decoration: none;
    display: inline-block;
    top: 350px;
    left: 49%;
    background-color: rgb(70, 122, 122);
    padding: 20px 10px;
    color: darkslategray;
    font-family: Quicksand;
    font-size: 16px;
    border-radius: 40%;
    transition: 1s ease-in-out;

}

.banner a:hover {
    background-color: aquamarine;
    color: white;
    transition: 1s ease-in-out;
}

.goal {
    position: relative;

    height: 450px;
    margin-left: 120px;

}

.goal1 {
    display: inline-block;
    width: 28%;
    margin-left: 50px;
    margin-top: 90px;
    position: relative;

}

.box1 {

    height: 250px;
}

.box2 {

    height: 250px;
}

.box3 {

    height: 250px;
}

.goal-number {
    font-size: 115px;
    font-family: Quicksand;
    color: gray;
    font-weight: bold;
    letter-spacing: 1px;
    opacity: -0.1;

}

.goal-heading {
    position: absolute;
    top: 30px;
    left: 65px;
    color: aqua;
    font-family: "Quicksand";
    letter-spacing: 15px;
    font-size: 39px;
    font-weight: bolder;

}

.goal-para {
    position: absolute;
    top: 95px;
    left: 68px;
    line-height: 29.5px;
    letter-spacing: 1.5px;
    font-family: Quicksand;
    opacity: .5;
}

.menu {
    position: absolute;
    top: 290px;
    left: 60px;
    list-style-type: none;
    line-height: 30px;
    font-family: Quicksand;
    letter-spacing: 1px;


}

.menu li:before {
    left: 0;
    font-size: 20px;

    font-family: Quicksand;
    content: "*";
    position: absolute;

}

.teams {
    margin-top: 60px;
    height: 500px;
    background-color: yellowgreen;
}

.team {
    display: inline-block;
    width: 25%;
    margin-top: 150px;
    margin-left: 100px;
}

.image1 {
    background-color: #125757;
    height: 300px;
    background-image: url(../image/sun.jpg);
}

.image2 {
    background-color: #125757;
    height: 300px;
    background-image: url(../image/lap3.jpeg);
}

.image3 {
    background-color: #125757;
    height: 300px;
    background-image: url(../image/laptop.webp);
}